{erl_opts, [debug_info, {i, "./_build/default/plugins/gpb/include"}]}.

{plugins, [rebar3_gpb_plugin]}.

{provider_hooks, [
                  {pre, [{compile, {protobuf, compile}}]}
                  ]}.

{gpb_opts, [{module_name_suffix, "_pb"}]}.

{pre_hooks, [{compile, "protoc -I=proto --python_out=priv/ proto/calc.proto"}]}.
